@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 16px;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: Inter, sans-serif, Arial;
}

.bg-green {
  background: linear-gradient(
    132deg,
    rgba(60, 140, 244, 0.1) 17.25%,
    rgba(39, 249, 152, 0.1) 59.58%,
    rgba(206, 235, 32, 0.1) 101.91%
  );
}

.bg-red {
  background: linear-gradient(
    132deg,
    rgba(60, 140, 244, 0.2) 17.09%,
    rgba(235, 32, 32, 0.2) 98.68%
  );
}

/* Embla Carousel */

.embla {
  max-width: 23.438rem;
  margin: auto;
  --slide-spacing: 1.4rem;
  --slide-size: 80%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

@media (min-width: 960px) {
  .embla {
    --slide-spacing: 1.2rem;
    --slide-size: 25%;
    max-width: 60rem;
    height: 12.75rem;
  }

  .embla__container {
    margin-left: calc(var(--slide-spacing) * -1);
  }

  .embla__slide {
    flex: 0 0 var(--slide-size);
    padding-left: var(--slide-spacing);
  }
}

.slide-1 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.7) 99.85%
    ),
    url("./assets/slide/S1.jpeg") lightgray 50% / cover no-repeat;
  background-position: center;
}

.slide-2 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.7) 99.85%
    ),
    url("./assets/slide/S2.jpeg") lightgray 50% / cover no-repeat;
  background-position: top;
}

.slide-3 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.7) 99.85%
    ),
    url("./assets/slide/S3.jpeg") lightgray 50% / cover no-repeat;
  background-position: top;
}

.slide-4 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.7) 99.85%
    ),
    url("./assets/slide/S4.jpeg") lightgray 50% / cover no-repeat;
  background-position: center;
}

.embla__card {
  --slide-size: 270px;
  --slide-spacing: 12px;
  --slide-size-md: 325px;
}

.embla__slide-card {
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}

.embla__container-card {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__viewport-card {
  overflow: hidden;
}

.embla__button--next {
  display: none;
}

.embla__button--prev {
  display: none;
}

@media screen and (min-width: 960px) {
  .embla__card {
    position: relative;
  }
  .embla__slide-card {
    flex: 0 0 var(--slide-size-md);
  }

  .embla__button {
    background-color: #fff;
    position: absolute;
    top: 0;
    display: inline-flex;
    padding: 10px;
    border-radius: 24px;
  }

  .embla__button--next {
    top: 44%;
    left: -22px;
    z-index: 99;
  }

  .embla__button--prev {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .embla__button--prev {
    display: flex;
    right: 22px;
    top: 44%;
    z-index: 99;
  }
}
